<h1>Join/Create Video Steam with RTCMultiConnection</h1>

<!--where scope of app begins-->
  <section class="make-center">
    <input id="room-id" type="text" value="abcdef" autocorrect=off autocapitalize=off size=20 >
    <button id="open-room" >Open Room</button>
    <button id="join-room" >Join Room</button>
    
    <div id='videos-container' style="margin: 20px 0;"></div>
    <div id='room-urls' style="text-align: center;display: none;background: #F1EDED;margin: 15px -10px;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"></div>

  
  </section>


<script type="text/javascript-lazy" src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
<script type="text/javascript-lazy" src="https://rtcmulticonnection.herokuapp.com/dev/getHTMLMediaElement.js"></script>
<script type="text/javascript-lazy" src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
<script src="/node_modules/webrtc-adapter/out/adapter.js"></script>

    


  <footer>
    <small id="send-message"></small>
  </footer>

  <script src="https://cdn.webrtc-experiment.com/common.js"></script>
